*{
    margin: 0;
}

#flex_container_header{
    height: 50px;
    display: flex;
    background-color: yellowgreen;
    align-items: center;
    justify-content: space-evenly;
}

#flex_item_header{
    background-color: brown;
    height: fit-content;
    width: 50px;
    height: 18px;
}
/* /end_site_header */

.flex_container{
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.reverse{
    flex-direction: row-reverse;
}

#first_section{
    background-color: aquamarine;
}

#first_flex_item{
    background-color: brown;
    height: fit-content;
    width: 500px;
    height: 250px;
}
/* end_first_section */

#second_section{
    background-color: bisque;
}




